html{
	box-sizing: border-box;
}
html *{
	box-sizing: inherit;
}
body{
    margin:0;
    padding: 0;
}
.clearfix{
    float: none;
    visibility: hidden;
    height: 0px;
    clear: both;
}
.content{
	max-width: 1200px;
	margin: auto;
}
header{
	font-family: Roboto;
}
.top-nav{
	border-bottom: 1px #ccc solid;
}
nav{
	margin-top: 10px;
	padding-bottom: 10px;
}
nav li{
	list-style: none;
	display: inline;
}
nav li a{
	color:#000;
	text-decoration: none;
}
nav li a.active,
nav li a:hover{
	color: #4CA42F;
}
nav li:nth-of-type(n+2){
	margin-left: 10px;
	border-left: 1px #ccc solid;
	padding-left: 10px;
}
.head-logo img{
	margin: 20px 0;
}
.head-logo .mail{
	float: right;
	text-align: right;
	margin-right: 20px;
}
.head-logo .mail p{
	font-size: 20px;
	color:#888;
	margin-bottom: 0;
	margin-top: 25px;
}
.head-logo .mail a{
	font-size: 32px;
	color:#4CA42F;
    text-decoration: none;
}
.head-logo .cart{
	float: right;
	margin-top: 15px;
	margin-right: 20px;
	position: relative;
}
.head-logo .cart span{
	position: absolute;
	font-size: 20px;
	color: #fff;
	top: 26px;
	left: 38px;
}
.head-bottom{
    height: 50px;
    background-color: #000;
}
.cat-header{
    width: 270px;
    height: 100%;
    color: #fff;
    font-size: 22px;
    float: left;
    border-left: 1px #888 solid;
    border-right: 1px #888 solid;
    padding-left: 30px;
}
.cat-header p{
    line-height: 50px;
    margin: 0;
    font-family: RobotoBold;
    letter-spacing: 1px;
}
.head-bottom .search{
    max-width: 930px;
    float:right;
}
.head-bottom .search-wrapper{
    height: 34px;
    background-color: #fff;
    float: left;
    width: 788px;
    margin-top: 8px;
    box-shadow: 0 0 5px 3px #ccc inset;
}
.head-bottom .search-wrapper .search-icon{
    height: 30px;
    margin-top: 2px;
    border-right: 1px #888 solid;
    width: 42px;
    float: left;
}
.head-bottom .search-wrapper input{
    border: none;
    height: 24px;
    margin-top: 5px;
    width: 740px;
}
.head-bottom .search-wrapper input:focus{
    outline: none;
}
.head-bottom .search-button{
    min-width: 86px;
    font-size: 14px;
    color: #fff;
    font-family: RobotoBold;
    background-color: #4CA42F;
    text-align: center;
    line-height: 34px;
    min-height: 34px;
    margin-top: 8px;
    margin-left: 5px;
    display: inline-block;
}
.head-bottom .search-button:hover{
    background-color: #444;
    cursor: pointer;
}